{% extends "base.html.twig" %}

{% block title %}quiz form{% endblock %}

{% block body %}

<div class="container">
    <h1>Quiz</h1>
    <h2 class="my-5">Créer une nouveau quiz</h2>

    {{ form_start(form) }}

    {{ form_widget(form) }}
    {#{{ form_row(form.correction) }}#}
    
     <button type="submit" class="btn btn-primary">
        <i class="fa fa-check"></i>
        Créer un quiz 
    </button>

    {{ form_end(form) }}
</div>

{% endblock %}