{% extends "base.html.twig" %}

{% block title %}Quiz{% endblock %}

{% block body %}

<div class="container mt-5">
<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Correction</th>
            <th>Proposition</th>
        </tr>
    </thead>
    <tbody>
        {% for answer in answers %}
        <tr>
            <td>
            {{ answer.questions.label }}
            </td>
            <td>
            {{ answer.correction }}
            </td>
            <td>
            {{ answer.proposition }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}