{% extends "base.html.twig" %}

{% block title %}userQuiz{% endblock %}

{% block body %}

<div class="container mt-3">
<h1>Quiz</h1>
{% if user != true %}
{#{{ count }} bonne(s) réponses.#}
<p>Combien font 2 X 1</p>
{{ form_start(form) }}

{{ form_widget(form) }}

<button class="btn btn-primary" type="submit">
    Valider
</button>

{{ form_end(form) }}
{% else %}
    <h2>Vous avez bien répondu au quiz, c'est fini !</h2>
{% endif %}
</div>

{% endblock %}