{% extends "base.html.twig" %}

{% block title %}Quiz{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Quiz</h1>     

        {{ form_start(form) }}
            {% for answer in answers %}
            <div class="alert alert-light">
                <h2>Question</h2>
                {{ answer.questions.label }}
                
            </div>  
            
               
            <div class="alert alert-light">
                
                <h2>Proposition</h2>
                {{ answer.proposition }}
               
            </div>
            {% endfor %}
                 <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    Soumettre
                </button>
        

        {{ form_end(form) }}

       
    </div>

{% endblock %}